.footer {
  background-color: #48bdbe;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.iconsWrapper {
  display: flex;
  padding-bottom: 35px;
}

.headerWrapper {
  padding-top: 35px;
  padding-bottom: 30px;
}

.sectionHeader {
  color: #fff;
}
