.mobileHomeView__container {
    min-height: 350px;
    height: 100vh;
    width: 100vw;
}

.mobileHomeView__header {
    background: linear-gradient(45deg, #4AC29A, #37B9E9);
    height: 18vh;
    min-height: 75px;
    width: 100vw;
    padding-top: 75px;
    animation: fadeIn 1.5s forwards;
    animation-delay: .3s;
    opacity: 0;
    will-change: opacity;
}

.mobileHomeView__profileImage {
    animation: fadeIn 1.5s forwards;
    animation-delay: .3s;
    opacity: 0;
    will-change: opacity;
}

.mobileHomeView__title {
    animation: fadeIn 1.5s forwards;
    animation-delay: .9s;
    opacity: 0;
    will-change: opacity;
}

.mobileHomeView__secondaryTitle {
    animation: fadeIn 1.5s forwards;
    animation-delay: .9s;
    opacity: 0;
    will-change: opacity;
}

.mobileHomeView__paragraph {
    animation: fadeIn 1.5s forwards;
    animation-delay: 1.3s;
    opacity: 0;
    will-change: opacity;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
