.footer__mediumIcon {
  font-size: 23px;
}

.footer__githubIcon {
  font-size: 23px;
}

.footer__linkedinIcon {
  font-size: 25px;
}

.footer__iconContainer {
  background-color: #48BDBE;
  border-radius: 50%;
  border: 2px solid #FFF;
  color: #FFF;
  cursor: pointer;
  height: 45px;
  width: 45px;
}

.footer__iconContainer:hover {
  background-color: #FFF;
  color: #48BDBE;
  transition: .3s all;
}
