.workTile__container {
  background-color: #9A9A9A;
  cursor: pointer;
  height: 400px;
  width: 33%;
  margin-bottom: 10px;
  transition: opacity .5s ease;
}

.workTile__container:hover {
  opacity: .3;
}
