.container {
  min-height: 350px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background: linear-gradient(45deg, #4ac29a, #37b9e9);
  height: 30vh;
  min-height: 75px;
  width: 100vw;
  animation: fadeIn 1.5s forwards;
  animation-delay: 0.3s;
  opacity: 0;
  will-change: opacity;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profileImage {
  animation: fadeIn 1.5s forwards;
  animation-delay: 0.3s;
  opacity: 0;
  will-change: opacity;
}

.title {
  animation: fadeIn 1.5s forwards;
  animation-delay: 0.9s;
  opacity: 0;
  will-change: opacity;
}

.secondaryTitle {
  animation: fadeIn 1.5s forwards;
  animation-delay: 0.9s;
  opacity: 0;
  will-change: opacity;
}

.paragraph {
  animation: fadeIn 1.5s forwards;
  animation-delay: 1.3s;
  opacity: 0;
  will-change: opacity;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
